@use '../../mixins/colors.scss';
@use '../../mixins/fonts.scss';
@use '../../mixins/media_queries.scss';

.contact-wrapper {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 10%;

  @media (max-width: 380px) {
    top: 45%;
  }

  .wrapper {
    min-width: 100%;
    overflow: hidden;
    border-radius: 10px;

    .box {
      display: flex;
      border-radius: 15px;
      background-color: colors.$secondaryBackgroundColor;
      border: 5px solid colors.$secondaryBackgroundColor;
      margin: 5px 0;
    }

    .phone-icon {
      color: colors.$primaryBackgroundColor;
    }
  }

  .flag-icon {
    width: 30px;
    border-radius: 5px;
  }

  .phone-contaner {
    display: block;
  }

  .phone {
    @include fonts.clamp(17px, 20px);
    display: block;
    line-height: 25px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: colors.$primaryBackgroundColor;
    background-color: colors.$secondaryBackgroundColor;
    transition: 0.3s;

    &:hover {
      color: colors.$secondaryFontColor;
      transform: scale(0.9);
    }
  }
}
