.font-s-1 {
  font-size: 14px;
}

.font-s-2 {
  font-size: 18px;
}

.f-bold {
  font-weight: bold;
}

.f-italic {
  font-style: italic;
}

.c-red {
  color: $first-main-color;
}

.c-white {
  color: $second-main-color;
}

.c-green {
  color: $second-bg-color;
}

.bg-bg {
  background-color: $first-bg-color;
}

.bg-bg-yellow {
  background-color: $third-bg-color;
}

.file-margin1 {
  margin-left: 15px;
}

.file-margin2 {
  margin-left: 25px;
}

.file-margin3 {
  margin-left: 35px;
}

.file-margin4 {
  margin-left: 45px;
}

.file-margin5 {
  margin-left: 55px;
}

.file-margin6 {
  margin-left: 65px;
}

.file-margin7 {
  margin-left: 75px;
}

.file-margin8 {
  margin-left: 85px;
}

.file-margin9 {
  margin-left: 95px;
}