<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .wrapper {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
</style>

<div>
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>

  <a [routerLink]="['/calendar']">CALENDAR</a>

  <div class="wrapper">
    <!-- #foInput - value from input -->
    <input type="text" placeholder="foooo" #foInput />
    <button (click)="add_method(foInput)">Add some</button>

    <div *ngFor="let task of tasks; let i = index" [class.even]="i % 2 == 0">
      <span>{{ task }}</span>
      <button (click)="(some_method)">ADD</button>
    </div>
  </div>

  <div class="wrapper">
    <!-- Format with the UppercasePipe -->
    {{ myObject.name | uppercase }}

    <input id="name" [(ngModel)]="myObject.name" placeholder="name" />
  </div>

  <div class="condition-binding-class">
    <div
      [ngClass]="{
        active: title,
        fo: myObject.name
      }"
    ></div>

    <div [class.active]="myObject.name"></div>

    <!-- ROUTING -->
    <router-outlet></router-outlet>
  </div>

  <hero-use-to-render-in-template />

  <app-hero></app-hero>

  <app-messages></app-messages>
</div>
<br />
<router-outlet></router-outlet>
