<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .wrapper {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
</style>

<div>
  <h1>{{ title }}</h1>
  <div class="wrapper">
    <input type="text" placeholder="foooo" #foInput />
    <button (click)="add_method(foInput)">Add some</button>

    <div *ngFor="let task of tasks">
      <span>{{ task }}</span>
      <button (click)="(some_method)">ADD</button>
    </div>
  </div>

  <div class="wrapper">
    <!-- Format with the UppercasePipe -->
    {{ myObject.name | uppercase }}
    <input id="name" [(ngModel)]="myObject.name" placeholder="name" />
  </div>

  <hero-use-to-render-in-template />
</div>

<router-outlet></router-outlet>
