@media (min-width: 360px) {
  .box__container {
    padding: 10px;
  }
  .box__container img {
    width: 7em;
    height: 7em;
    object-fit: contain;
    cursor: pointer;
    transition: 0.7s;
  }
  .box__container img:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 1024px) {
  .box__container {
    padding: 25px;
  }
  .box__container img {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
    cursor: pointer;
    transition: 0.7s;
  }
  .box__container img:hover {
    transform: scale(1.1);
  }
}
