<html>
  <head>
    <meta charset="utf-8">
    <title>SPAM</title>
    <style>
      .wrapper {
        display: flex;
      }
      h1 {
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>To jest SPAM! SPAM! SPAM! SPAM! SPAM! SPAM!</h1>
      <span>context data</span>
      <span>{{jack}}</span>
    </div>
  </body>
</html>