@use './fonts.scss';
@use './colors.scss';

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url('../assets/background-textures.jpg');
  background-repeat: repeat;

  .section {
    position: relative;
    display: flex;
    height: 100vh;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid colors.$secondaryBackgroundColor;

    .baner-container {
      position: relative;
      display: flex;
      height: 60%;
      width: 85%;
      border-radius: 15px;
      overflow: hidden;
      background-color: colors.$secondaryBackgroundColor;
      -webkit-box-shadow: 8px 8px 24px 0px colors.$primary;
      -moz-box-shadow: 8px 8px 24px 0px colors.$primary;
      box-shadow: 8px 8px 24px 0px colors.$primary;

      img {
        display: flex;
        position: absolute;
        top: 10%;
        left: -180%;
        object-fit: cover;
      }
    }

    .icon-Container {
      width: 180px;
      height: 55px;
      display: flex;
      padding-top: 35px;
      padding-left: 35px;
    }

    .material-symbols-outlined {
      transform: rotate(329deg);
      font-size: 54px;
    }

    .link-text {
      font-size: 13px;
    }
  }
}

.top-section {
  position: absolute;
  width: 100%;
  left: 12%;
  bottom: 15%;
  border-radius: 5px;
  padding: 15px;

  h1 {
    @include fonts.clamp(30px, 55px);
  }

  p {
    @include fonts.clamp(13px, 18px);
    font-weight: 600;
    display: initial;
  }
}

.middle {
  background-color: colors.$secondaryBackgroundColor;
  color: colors.$primaryBackgroundColor;

  .middle-section {
    .middle-title {
      @include fonts.clamp(40px, 55px);
      font-weight: 700;
    }

    .box {
      .box-icon {
        margin-left: 30%;
        width: 180px;
        border: 5px solid colors.$primaryBackgroundColor;
        border-radius: 15px;
        object-fit: cover;
        background-color: colors.$primaryBackgroundColor;

        -webkit-box-shadow: 8px 8px 24px 0px colors.$secondaryFontColor;
        -moz-box-shadow: 8px 8px 24px 0px colors.$secondaryFontColor;
        box-shadow: 8px 8px 24px 0px colors.$secondaryFontColor;
      }
    }

    width: 100%;
    height: 100%;
    padding-left: 15px;
  }

  .price-box {
    .box {
      padding: 20px;
    }

    .price {
      display: flex;

      .box {
        padding-left: 0;
      }

      .currency-icon {
        margin-left: 30px;
        margin-top: 30px;
        font-weight: 400;
      }

      .price-value {
        display: inline;
        @include fonts.clamp(60px, 85px);
        font-weight: 700;
      }
    }

    .pound {
      transform: none;
    }

    height: 240px;
    width: 80%;
    border: 5px solid colors.$primaryBackgroundColor;
    border-radius: 15px;
    -webkit-box-shadow: 8px 8px 24px 0px colors.$secondaryFontColor;
    -moz-box-shadow: 8px 8px 24px 0px colors.$secondaryFontColor;
    box-shadow: 8px 8px 24px 0px colors.$secondaryFontColor;
  }

  .bottom-title {
    margin-left: 40px;
    margin-top: 50px;
    @include fonts.clamp(16px, 20px);
  }
}
