@use './mixins/fonts.scss';
@use './mixins/colors.scss';

// @include media_queries.md(640px, max) {
//   bottom: 0;
//   right: 10%;
//   top: 0;
// }

.App {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url('../assets/background-textures.jpg');
  background-repeat: repeat;

  .section {
    z-index: 10;
    position: relative;
    display: flex;
    min-height: 100vh;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid colors.$secondaryBackgroundColor;
  }
}
